{
  "name": "prime",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "#source/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/main.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "#source/js/vendors.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/vendors.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "#source/index.kit",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-kit\":{\"enabled\":true}}"
    },
    {
      "path": "#source/scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_header.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_baguetteBox.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_cloud-zoom.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_datepicker.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_pagging.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "#source/scss/_popover.min.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "js",
      "#source/js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "#source/index.kit",
      "imports": [
        "#source/header.html",
        "#source/footer.html",
        "#source/js.html"
      ]
    },
    {
      "path": "#source/js/main.js",
      "imports": [
        "#source/js/jq-start.js",
        "#source/js/responsive.js",
        "#source/js/map.js",
        "#source/js/forms.js",
        "#source/js/script.js",
        "#source/js/jq-end.js"
      ]
    },
    {
      "path": "#source/scss/style.scss",
      "imports": [
        "#source/scss/popup.scss",
        "#source/scss/header.scss",
        "#source/scss/footer.scss",
        "#source/scss/forms.scss",
        "#source/scss/ui.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "b91206w7.beget.tech",
      "port": 21,
      "user": "b91206w7_prime",
      "password": "denisca1978"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/#source",
      "/.gitignore"
    ],
    "history": [
      {
        "file": "css/custom.css",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 0
      },
      {
        "file": "css/style.css",
        "ctime": "2020-03-02T04:53:23.000Z",
        "mtime": "2020-03-02T04:53:23.000Z",
        "size": 32067
      },
      {
        "file": "fonts/AkzidenzGroteskBQCondensedBold.eot",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 26086
      },
      {
        "file": "fonts/AkzidenzGroteskBQCondensedBold.otf",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 29796
      },
      {
        "file": "fonts/AkzidenzGroteskBQCondensedBold.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 29796
      },
      {
        "file": "fonts/AkzidenzGroteskBQCondensedBold.ttf",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 25860
      },
      {
        "file": "fonts/AkzidenzGroteskBQCondensedBold.woff",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 18644
      },
      {
        "file": "fonts/BebasNeueRegular.eot",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 55284
      },
      {
        "file": "fonts/BebasNeueRegular.otf",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 70364
      },
      {
        "file": "fonts/BebasNeueRegular.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 70364
      },
      {
        "file": "fonts/BebasNeueRegular.ttf",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 55072
      },
      {
        "file": "fonts/BebasNeueRegular.woff",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 32144
      },
      {
        "file": "img/logo.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 3879
      },
      {
        "file": "img/contacts/01.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 367
      },
      {
        "file": "img/contacts/02.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 262
      },
      {
        "file": "img/contacts/03.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 581
      },
      {
        "file": "img/icons/bg_rating.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 1663
      },
      {
        "file": "img/icons/bg_rating_active.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 1699
      },
      {
        "file": "img/icons/check.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 334
      },
      {
        "file": "img/icons/close.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 399
      },
      {
        "file": "img/icons/p-left.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 305
      },
      {
        "file": "img/icons/p-right.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 306
      },
      {
        "file": "img/icons/ui-icons.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 8986
      },
      {
        "file": "img/private/01.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 230389
      },
      {
        "file": "img/products/01.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 230389
      },
      {
        "file": "img/products/02.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 45177
      },
      {
        "file": "img/products/03.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 42727
      },
      {
        "file": "img/products/04.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 45413
      },
      {
        "file": "img/why/01.jpg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 63368
      },
      {
        "file": "img/icons/social/01.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 489
      },
      {
        "file": "img/icons/social/02.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 592
      },
      {
        "file": "img/icons/social/03.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 709
      },
      {
        "file": "img/icons/social/04.png",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 744
      },
      {
        "file": "img/why/icons/01.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 4295
      },
      {
        "file": "img/why/icons/02.svg",
        "ctime": "2020-02-26T16:31:08.000Z",
        "mtime": "2020-02-26T16:31:08.000Z",
        "size": 5650
      },
      {
        "file": "img/why/icons/03.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 1588
      },
      {
        "file": "img/why/icons/04.svg",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 1629
      },
      {
        "file": "index.html",
        "ctime": "2020-03-02T12:39:56.000Z",
        "mtime": "2020-03-02T12:39:56.000Z",
        "size": 10853
      },
      {
        "file": "js/custom.js",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 0
      },
      {
        "file": "js/main.js",
        "ctime": "2020-03-02T04:52:46.000Z",
        "mtime": "2020-03-02T04:52:46.000Z",
        "size": 35852
      },
      {
        "file": "js/vendors.js",
        "ctime": "2020-02-22T04:25:47.000Z",
        "mtime": "2020-02-21T18:56:48.000Z",
        "size": 1
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}